---
import type { Language } from "@/i18n/types";
import Section from "../Section.astro";
import { getLangFromUrl, useTranslations, getCV } from "@/i18n/utils";

interface Props {
  lang?: Language;
}
const { lang } = Astro.props;
const currentLang = lang || getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
const cvData = await getCV(currentLang);

const { summary } = cvData.basics;
---

<Section title={t("section.about")}>
  <p>
    {summary}
  </p>
</Section>
